#homeText{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding-left: 16%;
    padding-right: 16%;
}
.line{
    width: 100%;
    /* max-width: 450px; */
    height: auto;
}
.line{
    width: 100%;
    /* max-width: 450px; */
    height: auto;
}
.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  #service{
    padding: 20px;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 16%;
    padding-right: 16%;


}
.introS{
    text-align: center;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
}
.introS{
    font-size: 20px;
    align-content: center;
    padding: 10px;
    
}
#about{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding-left: 16%;
    padding-right: 16%;
}
#form{
    padding: 40px;
    width: 100%;
    max-width: 800px;
    height: auto;
}
#contact{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
a.contact{
    justify-content: center;
    font-size: 30px;
    max-width: 450px;

}
.contact{
    display: flex;
    justify-content: center;

}
.titleC{
    display: flex;
    justify-content: center;
    text-align: center;
}
.icon{
    max-width: 100%;
    width: 30px;
}
.bloom{ 
    padding: 10px;  
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: auto;
    

}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;

}

